# Command aliases
alias -g G '|grep'
alias grep='grep --color'
alias vi=vim
alias m=$PAGER
alias h='history | egrep '
alias gp='getent passwd '
if [[ $GNU != "false" ]];then
  alias ls='ls -Fh --color=auto'
else 
  alias ls='ls -Fh'
fi
if [ `uname` = "Darwin" ];then
  alias ls='ls -FhG'
fi
alias ll='ls -l'
alias lL='ls -la'
alias sl='ls'
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias screenls="/usr/bin/screen -ls"
alias screen="screen -d -R"
alias difff="git difftool -t opendiff"
alias scpresume="rsync --partial --progress --rsh=ssh"
alias gr="git push origin HEAD:refs/for/master"
alias git-topcontribs="git log | grep Author | sed 's/Author: .* <\(.*\)>/\1/' | sort | uniq -c | sort -r"

alias ag="sudo apache2ctl graceful"
alias mqc="mq -c \"*\""
alias mqt="mailq | tail"
alias mypubkey="cat ~/.ssh/id_rsa.pub"

# Personal ssh
alias home='ssh home@Sant-Mac.local'
alias router='ssh admin@192.168.50.1'
alias r2d2='ssh vsant@viveksant.com'
alias cnx='ssh cnxmedical@viveksant.com'
alias nucleus='ssh s225952@nucleus.biohpc.swmed.edu'

# Random cool aliases
alias rot13='tr "[a-m][n-z][A-M][N-Z]" "[n-z][a-m][N-Z][A-M]"'
alias rmwhitespace="awk '{gsub(/^[ \t]+|[ \t]+$/,\"\")};1'"

# BioHPC aliases
alias ca='conda activate data-project'
alias jn='jupyter notebook'
